body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

/*-------------------------Header---------------------------*/
header{
    background-color: #FFF;
}
.logo{
    width: 90vw;
    height:8.78vh;
    padding-left: 9%;
    padding-top:2.5%;
}
.menu{
    width: 90vw;
    height: 5.85vh;
    padding-left: 9%;
    display: flex;
    justify-content: left;
}
header>div.menu>div{
    height:100%;
    color: #99A2AA;
    font-size: 16px;
    margin:0 2.08%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 81vw;
    padding:0 9%;
}
/*-------------------------Section one---------------------------------*/
.one{
    height:42.96vh;
    background-color:#FEC524;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
section.one>h2{
    font-size: 44px;
    font-weight: 700;
    margin: 5px;
    color: #FFF;
}
section.one>p{
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
form{
    width:39.58%;
    height:16.36%
}  input[type=text]{
       width:100%;
       height:100%;
    border: none;
       border-radius: 10px;
       background: #FFF;
       padding-left: 5.26%;
       color: #757575;
   }
section.one>div{
    width: 81vw;
    position: absolute;
    top:59vh;
    display: flex;
    justify-content: space-between;
}
section.one>div>button{
    width: 18.75%;
    height:7.81vh;
    border: none;
    border-radius: 10px;
    background: #FFF;
}
/*---------------------Section Two-------------------------------*/
.two{
    height:78.12vh;
    background-color:#F8F8F8;
    display: flex;
    align-items: center;
}
.boxTwo{
    width:27.77vw;
    height:61.52vh;
    padding-top: 5%;
}
section.two>div>h2{
    width: 100%;
    color: #0E2F4B;
    font-size: 48px;
    font-weight: 700;
    margin:0 0 20px 0;
}
section.two>div>span{
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.boxFour{
    width:78vw;
    height:70vh;
    display: flex;
    flex-wrap: wrap;
}
.boxThree{
    width:43%;
    height:28%;
    padding:2.92%;
}